body{
	background-color: #e8f8ff;
}
.atas{
	width: 100%;
	min-height: 20px;
}
.atas img{
 	filter: brightness(30%);
 	height: 25px;
}
.atas img:hover{
 	filter: brightness(100%);
}

.lebar{
	width: 100%;
}
.card-deck .card{
	background-color: #f8f9fa;
}



.home{
	background-image: url(gambar/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	text-shadow: 2px 2px 10px black;
	padding: 300px 10px 150px;
}






/*---------------------------------*/
.lets{
	background-image: url(slide/5.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
	border-radius: 10px;
	margin: 20px 0;
	text-align: center;
	padding: 40px;
	font-weight: bold;
	color: #fff;
}


.back {
  position: absolute;
  bottom: 0px;
  left: 0%;
  z-index: 10;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  width: 30%;
  height: 100%;
  background-color: #17a2b8;
  background-image: url(slide/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*-----------------------------------------*/
.wake{
	position: absolute;
	z-index: 10;
	text-align: center;
	padding-top: 25%;
}



#melayang{
	width: 4%;
	height: 40%;
	bottom: 150px;
	right: 0%;
	top: 30%;
	position: fixed;

}
.ale{
	background-color: white;
	overflow: hidden;
}

.a{
	height: 25%;
	width: 100%;
	display: inline-block;
	padding: 15px 0;
	text-align: center;	
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	transition: 1s;
}
.a img{
	height: 100%;
	width: auto;
}

@media (max-width: 576px) {
	.ale{
		opacity: 0;
	}
}
@media (max-width: 786px) {
	.ale{
		opacity: 0;
	}
}

@media (max-width: 576px) {
  .card{
    margin: 0 0;
  }
}
@media (max-width: 786px) {
  .card{
    margin: 0 0;
  }
}


/*----------------*/

.kot{
	width: 100%;
	border: 1px solid grey;
}
.kotak{
	width: 100%;
	height: 300px;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid grey;
}

.kotak-1{
	width: 49.8%;
	height: 150px;
	border: 1px solid black	;
	display: inline-flex;
	overflow: hidden;
	background-color: grey;
	box-sizing: border-box;
}

@media (max-width: 576px) {
  .kot {
    width: 100%;
    margin: 5px 10px;
  }
  .kotak{
  	width: 100%;
  	display: block;
  }
  .kotak-1{
  	display: block;
  	width: 100%;
  }
}
@media (max-width: 786px) {
  .kot {
    width: 100%;
    margin: 5px 10px;
  }
  .kotak{
  	width: 100%;
  	display: block;
  }
  .kotak-1{
  	display: block;
  	width: 100%;
  }
}
@media (max-width: 960px) {
  .kot {
    width: 100%;
    margin: 5px 10px;
  }
  .kotak{
  	width: 100%;
  	display: block;
  }
  .kotak-1{
  	display: inline-block;
  	width: 100%;
  }
}
/*----------------*/



.jarak a .card img{
	filter: brightness(100%);
}
.jarak .card img{
	filter: brightness(100%);
}
.jarak .card img:hover{
	filter: brightness(70%);
}
.carousel-caption{
	cursor: pointer;
}

.tetap {
	position: fixed;
	top: 0;
	z-index: 1;
	height: 70px;
}
nav{
	position: absolute;
	bottom: 0;
}


.jarak h1{
	color: #fff;
}
.jarak .card .card-body p{
	margin-top: -10px;
	color: grey;
}


/*---------------------------*/
@media (min-width: width: 576px){
	.isi{
		padding: none;
		width: 100%;
	}
}
@media (min-width: width: 786px){
	.isi{
		padding: none;
		width: 100%;
	}
}
.isi{
	padding: 100px 150px;
}
.isi img{
	width: 100%;
	height: auto;
	margin: 50px 0;
}
.isi h2{
	color: grey;
	padding: 10px 0;
	border-bottom: 2px solid;
	margin-bottom: 50px;
}

/*---------------------------------*/








.container .isi .row .col-lg img{
	height: 30px;
	width: auto;
	margin: auto;
	text-align: center;
	cursor: pointer;
}


.modal-body .row .col-xl img{
	height: 100px;
	width: auto;
	margin: auto;
	text-align: center;
}
.modal-body .row .col-xl a{
	color: #03d3fc;
}
.navbar img{
	height: 50px;
	width: auto;
}



/*---------------------------------------*/


.destinasi{
	background-image: url(gambar/destinasi/back2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 150px;
	color: white;
	text-shadow: 2px 4px 10px black;
	margin-bottom: 50px;
}
.destinasi h1{
	font-size: 55px;
	margin-top: -10px;
}


.museum{
	background-image: url(gambar/batik/museum/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.agenda{
	background-image: url(gambar/home.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	min-height: 10px;
	padding: 350px 100px 75px;
	color: white;
	text-shadow: 2px 4px 10px black;
	margin-bottom: 50px;
}


/*---------------Budaya*/

.sintren{
	background-image: url(gambar/budaya/sintren/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.cap-gomeh{
	background-image: url(gambar/budaya/cap-gomeh/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.durian{
	background-image: url(gambar/budaya/durian/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.duror{
	background-image: url(gambar/budaya/duror/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.g-megono{
	background-image: url(gambar/budaya/megono/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.jlamprang{
	background-image: url(gambar/budaya/jlamprang/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.khoul{
	background-image: url(gambar/budaya/khoul/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.kuntulan{
	background-image: url(gambar/budaya/kuntulan/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.batik{
	background-image: url(gambar/budaya/membatik/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.nyadran{
	background-image: url(gambar/budaya/nyadran/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.panjang{
	background-image: url(gambar/budaya/panjang-jimat/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.rampak{
	background-image: url(gambar/budaya/rampak/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.sedekah{
	background-image: url(gambar/budaya/sedekah/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.balon{
	background-image: url(gambar/budaya/balon/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.wayang{
	background-image: url(gambar/budaya/wayang-gondo/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}




/*-------------------------------------------------*/
.s{
	background-image: url(gambar/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
/*----------------------------------------------------*/






/*--------------kuliner*/
.kuliner{
	background-image: url(gambar/makanan/lopis/1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 350px 100px 75px;
	color: white;
	text-shadow: 2px 4px 10px black;
	margin-bottom: 50px;
}
.kuliner h1{
	font-size: 75px;
}
.capret{
	background-image: url(gambar/makanan/capret/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.lopis{
	background-image: url(gambar/budaya/lopis/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.garang{
	background-image: url(gambar/makanan/garang/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.gendar{
	background-image: url(gambar/makanan/gendar/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.growol{
	background-image: url(gambar/makanan/growol/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.iwel{
	background-image: url(gambar/makanan/iwel/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.megono{
	background-image: url(gambar/makanan/megono/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.ongol{
	background-image: url(gambar/makanan/ongol/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.osron{
	background-image: url(gambar/makanan/osron/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.pindang{
	background-image: url(gambar/makanan/pindang/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.srintil{
	background-image: url(gambar/makanan/srintil/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}
.tauco{
	background-image: url(gambar/makanan/tauco/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 10px;
	padding: 300px 100px 50px;
	color: white;
	text-shadow: 2px 4px 10px black;
}

/*-------------------------------------------*/





.eat{
	background-image: url(gambar/makanan/lopis/1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
	border-radius: 10px;
	margin: 20px 0;
	text-align: center;
	padding: 40px;
	font-weight: bold;
	color: #fff;
}





/*--------------------------*/


/*----------------Destinasi----------------*/

.row .col img{
	width: 100%;
	height: auto;
	padding: 1px;
}
.row .col img:hover{
	filter: brightness(60%);
}

/*----------------Destinasi----------------*/



/*----------kuliner-----------*/
.jarak .row {
	margin-top: 20px;
}
.row .col-xl{
	margin: 0 10px;
}
.row .col-xl .media{
	box-shadow: 0px 0px 10px #ddd;
	padding: 15px;
	overflow: hidden;
	box-sizing: border-box;
	height: 150px;
}

.row .col-xl .media a{
	color: grey;
	transition: 1s;
}
.row .col-xl .media a:hover{
	color: #03d3fc;
}
.row .col-xl .media .makan{
	height: 100%;
	width: 120px;
	overflow: hidden;
	border-radius: 100%;
	margin: 0 10px;
}
.row .col-xl .media img{
	width: auto;
	height: 100%;
	margin-left: -30px;
}
.row .col-xl .media .media-body{
	margin-top: -40px;
	color: grey;
}

/*----------kuliner------------*/





.kembali{
	width: 100%;
	height: auto;
	box-shadow: 2px 2px 20px grey;
	padding: 20px;
	margin-bottom: 50px;
}
.kembali a img{
	width: 50px;
	height: auto;
}















.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 2px 2px 20px #bbb;
}

.sticky + .content {
  padding-top: 60px;
}