body{
	background-color: #e8f8ff;
}
.atas{
	width: 100%;
	min-height: 20px;
}
.atas img{
 	filter: brightness(30%);
 	height: 25px;
}













.jarak .card .card-body p{
	margin-top: -10px;
	color: grey;
}
.navbar img{
	height: 50px;
	width: auto;
}

.row .col img{
	width: 100%;
	height: auto;
	padding: 1px;
}

.jarak .row {
	margin-top: 20px;
}
.row .col-xl{
	margin: 0 10px;
}
.row .col-xl .media{
	box-shadow: 0px 0px 10px #ddd;
	padding: 15px;
	overflow: hidden;
	box-sizing: border-box;
	height: 150px;
}

.row .col-xl .media a{
	color: grey;
	transition: 1s;
}
.row .col-xl .media .makan{
	height: 100%;
	width: 120px;
	overflow: hidden;
	border-radius: 100%;
	margin: 0 10px;
}
.row .col-xl .media img{
	width: auto;
	height: 100%;
	margin-left: -30px;
}
.row .col-xl .media .media-body{
	margin-top: -40px;
	color: grey;
}





-------------------------------------

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 2px 2px 20px #bbb;
}

.sticky + .content {
  padding-top: 60px;
}

.profil{
	height: 300px;
}

.footer{
    height: 50px;
    background-color: #e8f8ff;
}
.footer p{
	text-align: center;
	color: white;
	padding-top: 10px;
}